# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Environment variables
.env

# uv
.python-version
